:root {
  --background: #18181b;
  --background-secondary: #27272a;
  --background-primary: #262641;

  --text: #f1f5f9;
  --text-secondary: #A1A1AA;
  --text-primary: #818CF8;

  --border: #2e2e32;
}